<html xmlns="htp://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/main">
<head>
    <title th:text="#{view.todos.index.title}">Todo List</title>
</head>

<body>
<a layout:fragment="title" th:text="#{view.todos.index.title}"/>
<section layout:fragment="content">
    <div class="row">
        <ul class="collection card-panel">
            <li class="collection-item avatar" th:each="todoItem : ${todos}">
                <i class="material-icons circle">folder</i>
                <span class="title" th:text="${todoItem.content}">Title</span>
                <p>First Line <br/>
                    Second Line
                </p>
                <a th:href="${#mvc.url('TC#show').arg(0, todoItem.id).build()}" class="secondary-content"><i class="material-icons">keyboard_arrow_right</i></a>
            </li>
        </ul>

        <div class="fixed-action-btn" style="top: 143px; right: 94px;">

            <a th:href="${#mvc.url('TC#newly').build()}" class="btn-floating btn-large waves-effect waves-light red">
                <i class="material-icons">add</i>
            </a>
        </div>
    </div>
</section>

</body>
</html>
